@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* added */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* correct aside from justify content */
ul{  list-style-type:none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap:15px;
}
/* correct */
a{text-decoration: none;}

/* added */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  padding: 8px;
  
}

/* correct */
.do_button{padding: 10px;}

/* correct */
.header,.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.left_links,.right-links{display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}





justify content in body is different




/* ### Hints
- You may want to search something like `CSS remove list bullets`.
  We've done this for you in previous examples, but not here. 
  Yay learning.
- Finding out how to style links in CSS might help you get rid of 
that pesky underline decoration...
- We've added `height: 100vh` to the `body`... this makes the body
 exactly the same height as the viewport. To stick the footer to 
 the bottom you will need to use flex and change the direction to 
 column.

## Desired Outcome
![desired outcome](./desired-outcome.png)

### Self Check

- The header is at the top of the page, the footer is at the bottom,
 and they stay in place if you resize your screen.
- The header and footer have padding.
- The links in the header and footer are pushed to either side.
- There is space between the links in the header and footer.
- The footer has a light gray background (`#eeeeee`).
- The logo, input and buttons are centered in the screen.
- The buttons have an appropriate amount of padding.
- There is space between the logo, input and buttons. */




